.rf-add-drawings { background-image: url('png/add-drawings.png'); background-repeat: no-repeat; }

.rf-add-order { background-image: url('png/add-order.png'); background-repeat: no-repeat; }

.rf-assemble { background-image: url('png/assemble.png'); background-repeat: no-repeat; }

.rf-business-card { background-image: url('png/business-card.png'); background-repeat: no-repeat; }

.rf-chuck-jaws { background-image: url('png/chuck-jaws.png'); background-repeat: no-repeat; }

.rf-circle-grinding { background-image: url('png/circle-grinding.png'); background-repeat: no-repeat; }

.rf-clamping { background-image: url('png/clamping.png'); background-repeat: no-repeat; }

.rf-clean { background-image: url('png/clean.png'); background-repeat: no-repeat; }

.rf-consulting { background-image: url('png/consulting.png'); background-repeat: no-repeat; }

.rf-contour-turning { background-image: url('png/contour-turning.png'); background-repeat: no-repeat; }

.rf-customer-drawings { background-image: url('png/customer-drawings.png'); background-repeat: no-repeat; }

.rf-customer-orders { background-image: url('png/customer-orders.png'); background-repeat: no-repeat; }

.rf-cutt-part { background-image: url('png/cutt-part.png'); background-repeat: no-repeat; }

.rf-deburring { background-image: url('png/deburring.png'); background-repeat: no-repeat; }

.rf-develop { background-image: url('png/develop.png'); background-repeat: no-repeat; }

.rf-drill-axial { background-image: url('png/drill-axial.png'); background-repeat: no-repeat; }

.rf-drilling { background-image: url('png/drilling.png'); background-repeat: no-repeat; }

.rf-electroplate { background-image: url('png/electroplate.png'); background-repeat: no-repeat; }

.rf-grinding { background-image: url('png/grinding.png'); background-repeat: no-repeat; }

.rf-hardening { background-image: url('png/hardening.png'); background-repeat: no-repeat; }

.rf-knurrling { background-image: url('png/knurrling.png'); background-repeat: no-repeat; }

.rf-label { background-image: url('png/label.png'); background-repeat: no-repeat; }

.rf-laser { background-image: url('png/laser.png'); background-repeat: no-repeat; }

.rf-maintenance { background-image: url('png/maintenance.png'); background-repeat: no-repeat; }

.rf-material { background-image: url('png/material.png'); background-repeat: no-repeat; }

.rf-measure { background-image: url('png/measure.png'); background-repeat: no-repeat; }

.rf-milling { background-image: url('png/milling.png'); background-repeat: no-repeat; }

.rf-output-check { background-image: url('png/output-check.png'); background-repeat: no-repeat; }

.rf-output-time { background-image: url('png/output-time.png'); background-repeat: no-repeat; }

.rf-paint { background-image: url('png/paint.png'); background-repeat: no-repeat; }

.rf-parting { background-image: url('png/parting.png'); background-repeat: no-repeat; }

.rf-plane-grinding { background-image: url('png/plane-grinding.png'); background-repeat: no-repeat; }

.rf-plane-turning { background-image: url('png/plane-turning.png'); background-repeat: no-repeat; }

.rf-purchase { background-image: url('png/purchase.png'); background-repeat: no-repeat; }

.rf-relaxing { background-image: url('png/relaxing.png'); background-repeat: no-repeat; }

.rf-rework { background-image: url('png/rework.png'); background-repeat: no-repeat; }

.rf-sawing { background-image: url('png/sawing.png'); background-repeat: no-repeat; }

.rf-ship-intern { background-image: url('png/ship-intern.png'); background-repeat: no-repeat; }

.rf-show-history { background-image: url('png/show-history.png'); background-repeat: no-repeat; }

.rf-tailstock { background-image: url('png/tailstock.png'); background-repeat: no-repeat; }

.rf-tap-turning { background-image: url('png/tap-turning.png'); background-repeat: no-repeat; }

.rf-tools { background-image: url('png/tools.png'); background-repeat: no-repeat; }

.rf-welding { background-image: url('png/welding.png'); background-repeat: no-repeat; }

.rf-working-hours { background-image: url('png/working-hours.png'); background-repeat: no-repeat; }

